<div class="container">
    <h2>Task List</h2>
    <div class="row">
        <div class="col-sm-4">
          <div class="task-column">
            <h3>To Do</h3>
            <% if !@tasks.nil? %>
                <ol>
                    <% @tasks.each do |task| %>
                        <% if task.status == 1 %>
                            <div class="task-item">
                                <li><%= task.title %></li>
                                <%= link_to(content_tag(:i, "", class: "fas fa-backspace") , tasks_path(task.id), method: :delete) %>
                                <%= link_to(content_tag(:i, "", class: "fas fa-angle-double-right") , tasks_path(id: task.id, status: 2), method: :patch) %>
                            </div>
                        <% end %>
                    <% end %>
                </ol>
            <% end %>

            <%= form_for(@task, url: tasks_url(1)) do |f| %>
                <%= f.text_field(:title, class: "task-enter") %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="task-column">
            <h3>Doing</h3>
            <% if !@tasks.nil? %>
                <ol>
                    <% @tasks.each do |task| %>
                        <% if task.status == 2 %>
                            <div class="task-item">
                                <li><%= task.title %></li>
                                <%= link_to(content_tag(:i, "", class: "fas fa-backspace") , tasks_path(task.id), method: :delete) %>
                                <%= link_to(content_tag(:i, "", class: "fas fa-angle-double-right") , tasks_path(id: task.id, status: 3), method: :patch) %>
                                <%= link_to(content_tag(:i, "", class: "fas fa-angle-double-left") , tasks_path(id: task.id, status: 1), method: :patch) %>
                            </div>
                        <% end %>
                    <% end %>
                </ol>
            <% end %>

            <%= form_for(@task, url: tasks_url(2)) do |f| %>
                <%= f.text_field(:title, class: "task-enter") %>
            <% end %>
          </div>
        </div>

        
        <div class="col-sm-4">
          <div class="task-column">
            <h3>Done</h3>
            <% if !@tasks.nil? %>
                <ol>
                    <% @tasks.each do |task| %>
                        <% if task.status == 3 %>
                            <div class="task-item">
                                <li><%= task.title %></li>
                                <%= link_to(content_tag(:i, "", class: "fas fa-backspace") , tasks_path(task.id), method: :delete) %>
                                <%= link_to(content_tag(:i, "", class: "fas fa-angle-double-left") , tasks_path(id: task.id, status: 2), method: :patch) %>
                            </div>
                        <% end %>
                    <% end %>
                </ol>
            <% end %>

            <%= form_for(@task, url: tasks_url(3)) do |f| %>
                <%= f.text_field(:title, class: "task-enter") %>
            <% end %>
            </div>
        </div>
    </div>

    <%= render 'layouts/flash' %>
</div>
